body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 192, 147);
    background-image: url("https://images.pexels.com/photos/4403896/pexels-photo-4403896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: 100%;
}
#contenedor{
    width: 60%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{
    width: 50%;
    height: 250px;
    margin-bottom: 25px;
    border-radius: 10px;
}

form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding:15px;
}
